@import "~/src/scss/index.scss";

.formContent {
  margin: 1rem;

  .form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.5rem;
    margin: 1rem 0;

    .item {
      padding: 0.5rem;
      display: grid;
      grid-template-columns: 200px 1fr;
    }
  }

  label {
    color: $text-secondary;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0.5rem 0;
  }
  span {
    color: $text-secondary;
    font-size: 1.2rem;
    margin: 0.5rem 0;
  }

  .section {
    width: 100%;
    display: grid;
    grid-template-columns: 200px 1fr;
    margin: 1rem 0;
    padding: 0.5rem;
  }
}
