$primary: #2d53e8;
$primary-hover: #2d53e8;
$second-hover: #6ef1f0;

$text-primary: #ffffff;
$text-secondary: #3d3d3d;

$border-primary: #3d3d3d;
$border-secondary: #474747;
$border-tertiary: #6ef1f0;

$background-primary: #ffffff;
$background-secondary: #d8e0ff;
$background-tertiary: #90a3ee;
$background-quaternary: #6e89f1;
$background-quaternary__blur: #3d3d3d10;

$success: #69af00;
$danger: #ff0a4e;
