@import "~/src/scss/index.scss";

.account {
  display: flex;

  button {
    display: inline-flex !important;
    background-color: transparent !important;
    margin-left: 10px !important;

    &:hover {
      border: 2px solid $border-tertiary !important;
      i,
      span {
        color: $second-hover;
        cursor: pointer;
      }
    }

    .name {
      font-size: 16px;
      color: $text-secondary;
      font-weight: 500;
      letter-spacing: 1.2px;
      margin-right: 4px;
    }

    > i {
      font-size: 20px;
      height: 20px !important;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .cart {
    display: flex;
    align-items: center;
    justify-content: center;

    > div {
      background-color: $primary;
      color: $text-primary;
      font-size: 10px;
      margin-left: 5px;
    }
  }

  .user {
    background-color: $background-tertiary !important;
    border-radius: 10px;
    border: 2px solid $background-tertiary;

    &:hover {
      border: 2px solid $primary;

      i {
        color: $text-primary;
      }
    }
  }
}
